@import '../../styles/main';

@mixin details {
    & details {
        height: 0;
        
        & summary {
            position: relative;
            bottom: 20px;
            height: 20px;
            width: 100%;
            
            &::marker {
                content: "";
            }
            
            &:after {
                content: " ";
                height: 16px;
                width:  16px;
                background: no-repeat url(../../../assets/icons/png/expand_single.png) center;
                background-size: 100%;
                
                position: absolute;
                transform: rotate(-90deg);
                left: -20px;
                z-index: 99;
            }
        }

        &[open] { 
            height: auto;
                
            & summary::after {
                content: "";
                display: block;
                transform: rotate(0deg);
            }
        }
    }
}

.thumbnail_horizontal {
    margin: 15px;
    padding: 10px 25px;
    background-color: $black-secondary; 
    
    width: min(90%, 1300px);
    min-height: 240px;
    display: flex;
    align-items: felx-start;

    &_head {
        cursor: pointer;
        height: 180px;
        width: 320px;
        position: relative;
        flex-shrink: 0;
        display: grid;
        place-content: center;
        place-items: center;

        &_image {
            width: 100%;

            &_channel {
                clip-path: ellipse(90px 90px);
            }
        }

        &_duration {
            position: absolute;
            z-index: 99;
            bottom: 10px;
            right: 10px;
            padding: 1px 4px;
            border-radius: 7%;   
            background-color: rgba(0, 0, 0, 0.24);
        }
    }

    &_description {
        padding: 0px 15px;
        width: 100%;

        &_title {
            margin: 0px;
            font-size: 25px;
            letter-spacing: 0.2px; 
        }

        &_stats {
            width: 100%;
            margin-top: 5px;
        }

        &_text {
            position: relative;
            white-space: pre-wrap;
            width: 100%;

            margin: 10px 0 0;
            padding: 0 0 0 5px;
            font-size: 16px;

            @include details;
        }
    }

    &_channel {
        width: 100%;
        display: flex;
        align-items: felx-start;
        padding: 5px 0 0 5px;
        
        overflow: hidden;
        text-overflow: ellipsis;

        &_image {
            width:  45px;
            height: 45px;

            border-radius: 50%;
            margin-right: 0.5rem;
            cursor: pointer;
        }
        
        &_image_spinner {
            width:  45px;
        }

        &_title {
            margin: 0;
            font-size: 18px;
            letter-spacing: 0.3px; 
            line-height: 30px;
        }
    }
}


.thumbnail_grid {
   padding: 10px 25px;
   background-color: $black-secondary; 
   overflow: clip;

   &_head {
      cursor: pointer;
      position: relative;

      &_image {
      width: 100%;
      }

      &_duration { 
         position: absolute;
         z-index: 99;
         bottom: 10px;
         right: 10px;
         padding: 1px 4px;
         border-radius: 7%;   
         background-color: rgba(0, 0, 0, 0.24);
      }

      &_spinner {
         display: grid;
         place-items: center;
         
         &_image {
            width: 66%;
            padding: 0 ;
         }
      }
   }

   &_description {
      padding: 10px 5px 5px 5px;
      width: 100%;

      &_title {
         margin: 0px;
         font-size: 22px;
         letter-spacing: 0.2px; 
      }

      &_stats {
         width: 100%;
         margin-bottom: 5px;
         padding-left: 5px;
         font-size: 15px;
      }

      &_text {
         position: relative;
         white-space: pre-wrap;
         width: 100%;
         margin: 10px 0 0;
         padding: 0 0 0 5px;
         
         @include details;
      }
   }

   &_channel {
      display: flex;
      align-items: flex-start;

      &_image {
         width:  45px;
         height: 45px;

         border-radius: 50%;
         margin-right: 0.5rem;
         cursor: pointer;
      }

      &_image_spinner {
         width:  45px;
      }

      &_title {
         margin: 0;
         font-size: 18px;
         letter-spacing: 0.3px; 
         line-height: 30px;
      }
   }
}


@media (max-width: 1100px) {
   .thumbnail_horizontal {
      width: 95%;
      min-height: 210px;
      padding: 10px;
      margin: 10px 5px;

      &_head {
         height: 162px;
         width: 288px;

         &_image {
            &_spinner {
               width: 180px;
            }
         }
      }

      &_description {
         &_title {
            font-size: 23px;
         }
      }
   }
}

@media (max-width: 768px) {
   .thumbnail_horizontal {
      width: 97%;
      min-height: 170px;

      &_head {
         height: 141px;
         width: 250px;
         
         &_image {
            &_spinner {
               width: 160px;
            }
         }
      }

      &_description {
         padding-right: 0;
         
         &_title {
            font-size: 22px;
         }
         
         &_stats {
            margin-top: 0;
            padding: 0 5px;
            font-size: 14px;
         } 

         &_text {
            & details {
                & summary {
                    bottom: 16px;

                    &:after {
                        height: 14px;
                        width:  14px; 
                        left: -16px;  
                    }
                }
            }
         }
      }

      &_channel {   
         &_image {
            width:  40px;
            height: 40px; 
         }
         
         &_image_spinner {
            width:  40px;
         }
   
         &_title {
            font-size: 17px;
         }
      }
   }
}

@media (max-width: 572px) {
   .thumbnail_horizontal {
      &_description { 
         &_title {
            font-size: 20px;
         }

         &_text {
            display: none;
         } 
      }
   }
}

@media (max-width: 481px) {
   .thumbnail_horizontal {
      flex-direction: column;
      margin: auto;
      margin-bottom: 10px;
      padding: 15px 30px;
      align-items: center;
      min-width: 350px;

      &_head {
         width: 100%;
         max-width: 320px;
         height: 100%;
         margin-bottom: 10px;

         &_image {
            width: 110%;
            min-height: 180px;

            &_spinner {
               width: 170px;
            }
         }
      }

      &_description { 
         padding-left: 0;
      }
   }
}