@import '../../styles/main';

.horizontal_thumbnail {
    margin: 15px;
    padding: 12px 30px 15px 20px;
    width: min(95%, 1400px);
    min-height: 245px;
    background-color: $black-secondary; 
    display: flex;
    align-items: flex-start;
    
    &_head {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .faded {
            filter: grayscale(75%) blur(1px);
        }

        &_image {
            flex-shrink: 0;
            height: 180px;
            width: 180px;
            clip-path: ellipse(90px 90px);
            object-fit: cover;
            transition: filter 1s;
            
            &.link {
                cursor: pointer;
            }

            &_spinner {
                flex-shrink: 0;
                object-fit: cover;
                width: 180px;
                transform: translateY(-5px);
            }
        }
            
        &_button {
            cursor: pointer;
            margin-top: 10px;
            background-color: $black-secondary;
            border: 1px $text-color inset;
            border-radius: 2px;
            color: $text-color;
            font-size: 20px;
            padding: 5px 15px;
        }
    }
    
    &_description {
        margin: 0 0 0 10px;
        width: 100%;

        &_title {
            margin: 0;
            font-size: 35px;
            
            &_spinner {
                margin: 0;
                font-family: 'Redacted-script';
                font-size: 60px;
                line-height: 40px;
                font-weight: normal;
            }
        }

        &_text {
            padding: 10px 8px;
            position: relative;
            width: 100%;
            font-size: 20px;
            white-space: pre-wrap;

            @include details;

            &_spinner {
                margin: 0;
                padding: 10px 8px;
                font-family: 'Redacted-script';
                font-size: 30px;
                line-height: 25px;
                font-weight: light;
            }
        }
    }
}

@media (max-width: 1100px) {
    .horizontal_thumbnail {
        margin: 10px 0;
        padding: 10px 20px 12px 15px;
        width: 100%; 

        &_description {  
            &_title {
                font-size: 30px;
            }
        }
    }
}
      
@media (max-width: 768px) {
    .horizontal_thumbnail { 
        padding: 10px 15px;
        min-height: 220px;

        &_description {  
            &_title {
                font-size: 27px;

                &_spinner {
                    font-size: 40px;
                }
            }

            &_text {
                font-size: 16px;
            }
        }

        &_head {  
            &_image {
                &_playlist,
                &_channel {
                    height: 150px;
                    width: 150px;
                    clip-path: ellipse(75px 75px);
                }

                &_spinner {
                    width: 150px;
                }
            }
        }
    }
}

@media (max-width: 572px) {
    .horizontal_thumbnail { 
        padding: 10px;

        &_description {  
            &_title {
                font-size: 25px;
                &_spinner {
                    font-size: 30px;
                }
            }

            &_text {
                padding: 5px;
            }
        }
   }
}

@media (max-width: 481px) {
    .horizontal_thumbnail { 
        min-height: 200px;

        &_description {
            &_title {
                font-size: 22px;
            }
            &_text {
                padding: 3px;
                font-size: 15px;
            }
        }

        &_head {  
            &_image {
                &_playlist,
                &_channel {
                    height: 130px;
                    width: 130px;
                    clip-path: ellipse(65px 65px);
                }
                &_spinner {
                    width: 130px;
                }
            }
        }
    }
}

@media (max-width: 440px) {
    .horizontal_thumbnail { 
        min-width: 345px;

        &_description {  
            &_title {
                font-size: 23px;
            }

            &_text {
                display: none;

                &_spinner {
                    display: none;
                }
            }
        }
    }
}