.spinner_rotation {
    animation: rotateSpinner   2250ms          linear                infinite        none;
         /*-name        -duration   -timing-func       -iteration-count    -fill-mode*/ 

    @keyframes rotateSpinner {
        from {transform: translateY(-5px) rotate(0deg);}
        to   {transform: translateY(-5px) rotate(360deg);}
    }

    @for $i from 1 through 16 {
        &_#{$i} {
        transform: rotate($i * 180deg + 45deg);
        }
    }
}

.scribble {
    font-family: Redacted-script;
}

.transition {
    &_container {
        width: 100%; 
    }

    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
        transition: opacity 1400ms 700ms;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0;
        transition: opacity 1400ms;
      }

      &_pos_abs {
        position: absolute;
      }

    &_spinner,
    &_spinner-appear {
        
        &-enter {
            position: absolute;
            opacity: 0;
        }

        &-enter-active {
            position: absolute;
            opacity: 1;
            transition: opacity 1400ms;
        }

        &-exit {
            position: absolute;
            opacity: 1;
        }
        
        &-exit-active {
            position: absolute;
            opacity: 0;
            transition: opacity 1400ms;
        }
    }
}