@import '../../styles/main';

.player_desc {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 10px 15px;
    box-sizing: border-box;
    width: 100%;

    &_vid {
        border-bottom: 1px solid $text-color;
        padding: 10px;

        &_headline {
            display: flex;

            &_title {
                padding: 0;
                flex: 1;
                margin: 0px;
                font-size: 27px;
                letter-spacing: 0.2px; 
            }
            
            &_likes {
                margin-top: 5px;
                width: 15%;
            }
        }

        &_stats {
            
        }
    }

    &_channel { 
        display: flex;
        padding: 10px;

        &_image {   
            cursor: pointer;
            display: block;
            width: 90px;
            height: 90px;
            clip-path: ellipse(45px 45px);
        }

        &_desc {
            display: flex;
            flex-direction: column;
            margin: 10px;

            &_title {
                font-size: 24px;
                margin: 5px 0;
            }
            
            &_subs {
                
            }
        }
    }

    &_description {
        border-bottom: 1px solid $text-color;
        padding: 10px;
        font-size: 18px;
        white-space: pre-wrap;

        @include details;
    }
}