@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: GOST_A;
  src: url("../../assets/fonts/GOST_A.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: Redacted-script;
  src: url('../../assets/fonts/redacted-script-regular.woff2') format("woff2");
  font-weight: regular;
 }

 @font-face {
  font-family: Redacted-script;
  src: url('../../assets/fonts/redacted-script-light.woff2') format("woff2");
  font-weight: light;
 }

 @font-face {
  font-family: Cooper-black;
  src: url('../../assets/fonts/Cooper-black.woff') format("woff");
  font-weight: light;
 }